h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
}


body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}


.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}


.section {
  padding-top: 120px;
  padding-bottom: 120px;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-accent {
  color: #2e2f42;
}

.nav-list {
  display: flex;
  gap: 40px;
  margin-left: 76px;
}

.nav-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.contacts {
  margin-left: auto;
  font-style: normal;
}

.contacts-list {
  display: flex;
  gap: 40px;
}

.contacts-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}


.hero {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-container {
  text-align: center;
}

.hero-title {
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;

  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.hero-button {
  display: block;
  margin-left: auto;
  margin-right: auto;

  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;

  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #ffffff;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}


.section-title {
  margin-bottom: 72px;

  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
}


.features-list {
  display: flex;
  gap: 24px;
}

.features-item {
  width: calc((100% - 72px) / 4);
}

.features-title {
  margin-bottom: 8px;

  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.features-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}


.team {
  background-color: #f4f4fd;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  width: calc((100% - 72px) / 4);
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  overflow: hidden;
}

.team-card {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-name {
  margin-bottom: 8px;

  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
}

.team-role {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}


.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-card {
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
  padding: 32px 16px;
}

.portfolio-title {
  margin-bottom: 8px;

  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}


.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer .logo-accent {
  color: #f4f4fd;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  max-width: 264px;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}